<!-- app/views/recipes/index.html.erb -->
<h2>Top 5 Recipes</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
      <h2><%= link_to recipe["recipeTitle"], recipe_path(recipe["recipeId"]) %></h2>
      <p><%= recipe["recipeDescription"] %></p>
      </li>
    <% end %>
  </ul>
<h2>Categories</h2>
  <li>
    <h3><%= link_to "Meat", category_recipes_path(31)%></h3>
  </li>
