<!-- app/views/recipes/index.html.erb -->
<h1>Top 5 Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
    <h2><%= link_to recipe["recipeTitle"], recipe_path(recipe["recipeId"]) %></h2>
    <p><%= recipe["recipeDescription"] %></p>
    </li>
  <% end %>
</ul>
